<?xml version='1.0' encoding='utf-8'?>
<widget id="com.clasificaciones.bss" version="0.0.1" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>Clasificaciones</name>
    <description>
        Clasificaciones de la bss
    </description>
    <author email="gorka@adimedia.net" href="http://www.adimedia.net">
        Adimedia
    </author>
    <content src="index.html" />
    <access origin="*" />
</widget>
